# Ignore node_modules
node_modules/

# Ignore build files
build/

# Ignore environment files
.env

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore IDE settings
.vscode/
.idea/
.DS_Store
